<div id="albums">
  <%= collection_select(:post, :album_id, @albums, :id, :title,
    {  },  { :size => "10", :multiple => "multiple"}) %>
  <%=  observe_field("post_album_id", :update => 'albums',
    :url => {:action => :browse_album}, :on => "changed" , :with => "'albums=' +value") %>
</div>