<div class="song-pane" id="statusrow" >
    <div id="statusblock"><%= @name %></div>
    <div id="statusblock"><%= @required %></div>
	<%	if @status %>
    <div id="tag-status"><%= @message  %></div>     
	<%	else	%>	
    <div id="tag-status-error"><%= @installmessage  %></div>    
	<%	end	%>         
</div>
dgdfgdfgdfg